dist: trusty
sudo: false
language: scala
scala:
    - 2.12.4

# This may be necessary depending on the tests we eventually run. For example,
# the chaincode base server uses "java.util.Base64", which is only supported
# as of java version 8
jdk:
  - oraclejdk8

before_install:
  - ./install-protobuf.sh
  - export PATH=${PATH}:${HOME}/protobuf/

script: cat resources/tests/tests_to_run.txt | xargs perl obstest.pl -v
