{{! This is a template used by mustache to generate the final string of yul code. The
structures of these templates are referenced from github repo
ethereum/solidity/libsolidity/codegen/ir/IRGenerator.cpp
(https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/ir/IRGenerator.cpp)
Consulting example yul code is also helpful in understanding the template.
https://solidity.readthedocs.io/en/latest/yul.html#specification-of-yul-object
}}
object "{{contractName}}" {
    code {
        {{! init free memory pointer, see chatper "Layout in Memory" of the Solidity doc}}
        {{memoryInit}}
        {{! protection against sending Ether }}
        {{callValueCheck}}
        {{codeCopy}}
        {{defaultReturn}}
    }
    object "{{deployedName}}" {
        code {
            {{! init free memory pointer, see chatper "Layout in Memory" of the Solidity doc}}
            {{memoryInit}}

            {{! obtain which runtime function is called, https://solidity.readthedocs.io/en/latest/abi-spec.html#function-selector}}

            {{! todo: is 4 a magic number or should it be generated based on the object in question? check the ABI }}
            if iszero(lt(calldatasize(), 4)) {
                {{! TODO 224 is a magic number offset to shift to follow the spec above; check that it's right }}
                let this := allocate_memory({{mainSize}})
                let selector := shr(224, calldataload(0))
                {{dispatchTable}}
            }
            if iszero(calldatasize()) {  }
            revert(0, 0)
            {{! todo: this is deadcode for at least the empty contract but gets emitted anyway; trim it down somehow? }}
            {{! these functions for memory management are produced by the solc IR backend for
                Solidity programs analagous to our test Obsidian programs.
             }}

            {{abiEncodeTupleFuncs}}

            {{abiDecodeFuncs}}

            function allocate_memory(size) -> memPtr {
                memPtr := allocate_unbounded()
                finalize_allocation(memPtr, size)
            }

            function allocate_unbounded() -> memPtr {
                memPtr := mload(0x40)
            }

            function finalize_allocation(memPtr, size) {
                let newFreePtr := add(memPtr, round_up_to_mul_of_32(size))
                // protect against overflow
                if or(gt(newFreePtr, 0xffffffffffffffff), lt(newFreePtr, memPtr)) {  panic_error_0x41() }
                mstore(0x40, newFreePtr)
            }

            function panic_error_0x41() {
                mstore(0, 35408467139433450592217433187231851964531694900788300625387963629091585785856)
                mstore(4, 0x41)
                revert(0, 0x24)
            }

            function round_up_to_mul_of_32(value) -> result {
                result := and(add(value, 31), not(31))
            }

            function abi_encode_t_uint256_to_t_uint256_fromStack(value, pos) {
                mstore(pos, cleanup_t_uint256(value))
            }

            {{! revert, but also include the return data from the most recent call }}
            function revert_forward_1() {
                let pos := allocate_unbounded()
                returndatacopy(pos, 0, returndatasize())
                revert(pos, returndatasize())
            }

            {{! the "cleanup" functions enforce the invariants on the types from the abi wrt how they're encoded;
                with uint256, there are none, so it just returns. }}
            function cleanup_t_uint256(value) -> cleaned {
                cleaned := value
            }

            {{transactions}}

            {{tracertransactions}}
        }
    }
}
