object "{{creationObject}}" {
    code {
        {{memoryInit}}
        {{callValueCheck}}
        {{#notLibrary}}
            {{#constructorHasParams}} let {{constructorParams}} := {{copyConstructorArguments}}() {{/constructorHasParams}}
            {{implicitConstructor}}({{constructorParams}})
        {{/notLibrary}}
        {{#deploy}}
            {{call}}
        {{/deploy}}
        {{#deployFunctions}}
            {{code}}
        {{/deployFunctions}}
    }
    object "{{runtimeObject}}" {
        code {
            {{memoryInitRuntime}}
            {{#dispatch}}
                let selector := shift_right_unsigned(calldataload(0))
                switch selector
                {{#dispatchCase}}
                    case {{hash}} {
                        {{dispatchCall}}}
                    }
                {{/dispatchCase}}
            {{/dispatch}}
            {{#runtimeFunctions}}
                {{code}}
            {{/runtimeFunctions}}
        }
        {{runtimeSubObjects}}
    }
    {{subObjects}}
}
