SBT__junit_junit_4_12_jar.xml
SBT__org_hamcrest_hamcrest_core_1_3_jar.xml
SBT__org_scala_lang_modules_scala_parser_combinators_2_12_1_0_6_jar.xml
SBT__org_scala_lang_modules_scala_xml_2_12_1_0_5_jar.xml
SBT__org_scala_lang_scala_library_2_12_3_jar.xml
SBT__org_scala_lang_scala_reflect_2_12_3_jar.xml
SBT__org_scalactic_scalactic_2_12_3_0_1_jar.xml
SBT__org_scalatest_scalatest_2_12_3_0_1_jar.xml
