<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SbtRunConfiguration" factoryName="SBT Task">
    <setting name="tasks" value="&quot;run --verbose --dump-debug obs_output --output-path obs_output resources/tests/type_checker_tests/EndsInState.obs&quot;" />
    <setting name="vmparams" value="-Xms512M -Xmx1024M -Xss1M -XX:+CMSClassUnloadingEnabled" />
    <setting name="workingDir" value="$PROJECT_DIR$" />
    <envs />
    <method />
  </configuration>
</component>